* {
    box-sizing: border-box;
}

:root {
    --primary-colour: #FC766A;
    --secondary-color: #52667A;
    --background-colour: #00203F;
    --grid-border: 1px solid var(--primary-colour);
}

html,
body {
    width: 100vw;
    height: 100vh;
    background: var(--background-colour);
    color: var(--primary-colour);
    font-family: 'Roboto', sans-serif;
}

#page-container {
    display: flex;
    width: 100vw;
    height: 80vh;
    margin: 10vh 0 10vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#grid-container {
    height: 300px;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.square {
    fill: none;
}

.test {
    fill: var(--primary-colour);
}


.square {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border: var(--grid-border);
    text-align: center;
    font-size: xx-large;
    color: #FC766A;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

#start-game {
    width: 300px;
    color: var(--primary-colour);
    background: none;
    padding: 4px;
    border: 1px solid var(--primary-colour);
}

#player-selection {
    display: flex;
    flex-direction: column;
}


.player {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    fill: var(--secondary-color);
    color: var(--secondary-color);
}

.player > input {
    width: 50%;
    background: none;
    color: var(--primary-colour);
    border: none;
    margin: 20px 0 20px;
}

.player > input::placeholder {
    color: var(--secondary-color);
}

.selected {
    fill: var(--primary-colour);
}


.divider {
    width: 300px;
    border: 0.5px solid var(--secondary-color);
}


/* .O {
    background: red;
}

.X {
    background: blue;
} */

.grid-lines {
    z-index: -1;
    position: relative;
}

#horizontal {
    grid-area: 2 / 1 / 3 / 4;
    border-top: var(--grid-border);
    border-bottom: var(--grid-border);
}

#vertical {
    grid-area: 1 / 2 / 4 / 3;
    border-left: var(--grid-border);
    border-right: var(--grid-border);
}